<footer class="site-footer" data-reactid="450">
    <div class="footer-container" data-reactid="451">
        <div class="social-and-legal" data-reactid="452">
            <div class="legal" data-reactid="467">
                <ul data-reactid="468">
                    <li data-reactid="469"><a href="http://agent.realcommercial.com.au/products/subscriptions/"
                                              target="_blank" title="Advertise with us" data-reactid="470">Advertise
                        with us</a></li>
                    <li data-reactid="471"><a
                            href="http://www.realcommercial.com.au/static/rca/about-us.html?fullSiteOnly=true"
                            target="_blank" title="About us" data-reactid="472">About us</a></li>
                    <li data-reactid="473"><a href="https://secure.realestate.com.au/sign_in" target="_blank"
                                              title="Agent administration" data-reactid="474">Agent admin</a></li>
                    <li data-reactid="475"><a
                            href="http://www.realcommercial.com.au/static/rca/contact-us.html?fullSiteOnly=true"
                            target="_blank" title="Agent administration" data-reactid="476">Contact us</a></li>
                    <li data-reactid="477"><a
                            href="http://www.realcommercial.com.au/static/rca/terms-and-conditions.html?fullSiteOnly=true"
                            target="_blank" title="Terms and conditions" data-reactid="478">Terms and conditions</a>
                    </li>
                    <li data-reactid="479"><a href="http://www.realcommercial.com.au/static/rca/legal.html"
                                              title="Legal" data-reactid="480">Legal</a></li>
                    <li data-reactid="481"><a href="http://www.realcommercial.com.au/static/rca/privacy.html"
                                              title="Privacy" data-reactid="482">Privacy</a></li>
                    <li data-reactid="483"><a href="http://careers.realestate.com.au/" target="_blank" title="Careers"
                                              data-reactid="484">Careers</a></li>
                    <li data-reactid="485"><a href="http://www.realcommercial.com.au/sitemap?fullSiteOnly=true"
                                              target="_blank" title="Site map" data-reactid="486">Site map</a></li>
                    <li data-reactid="487"><a href="http://mobile.realcommercial.com.au/" target="_blank"
                                              title="Mobile apps" data-reactid="488">Mobile apps</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
