<header class="site-header" data-reactid="3">
    <div class="burger-toggle small-media-only" data-reactid="4"><i class="rui-icon rui-icon-navdeck"
                                                                    data-reactid="5"></i></div>
    <a class="main-logo" href="http://www.realcommercial.com.au/for-sale" data-reactid="6"><img
            src="http://www.realcommercial.com.au/news/assets/img/srp-header-logo.svg" data-reactid="7"></a>
    <nav class="header-nav" data-reactid="8">
        <a href="http://www.realcommercial.com.au/for-sale" data-reactid="9">Buy</a>
        <a href="http://www.realcommercial.com.au/for-lease" data-reactid="10">Lease</a>
        <a href="http://www.realcommercial.com.au/sold" data-reactid="11">Sold</a>
        <a href="http://www.realcommercial.com.au/leased" data-reactid="12">Leased</a>
        <a href="http://www.realcommercial.com.au/find-agent" data-reactid="13">Find Agents</a>
        <a href="http://www.realcommercial.com.au/news" class="news media-big-only active" data-reactid="14">News</a>
    </nav>
</header>
